# Supabase — Project URL and anon key from https://app.supabase.com → Project Settings → API
NEXT_PUBLIC_SUPABASE_URL=https://wxwkxgqoqttatlblvmae.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_liJOPGGSbvkCfdTN5ih91A_9V-mjyrH
GROQ_API_KEY=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